.invisivel{
    display:none;
  }
  .visivel{
    display:inline;
  }
  .inicial {
    text-align: center;
    font-size: 100px;
    background-color:pink;
    width: 150px;
    height: 200px;
    border: 15px solid lightpink;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
  }
  .acertou {
    text-align: center;
    color: white;
    background-color: deeppink;
    width: 150px;
    height: 200px;
    border: 15px solid deeppink;
    padding: 10px;
    margin: 20px;
    background-image: url(https://pbs.twimg.com/media/G9EAeQDWIAAeScy?format=jpg&name=small);
    background-size: 100%;
    border-radius: 20px;
  }
  .errou {
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: red;
    width: 150px;
    height: 200px;
    border: 15px solid red;
    padding: 10px;
    margin: 20px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRF2_4Go5G02MoZhpSjZHf1YgYuciSueC6ZVg&s);
    background-size: 100%;
    border-radius: 20px;
  }